<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>
    <style>
     

       </style>
    <title>teste live-server</title>
</head>
<body>

<div id="app">
    <button @click="exibirSaldo = !exibirSaldo">
        <span v-if="!exibirSaldo">Exibir Saldo</span>
        <span v-if="exibirSaldo">Ocultar Saldo</span>
    </button>
    <p>Saldo: <span v-if="exibirSaldo">R$ {{saldo}}</span></p>
    <br>
    Idade: <input type="text" id="inputIdade" @blur="setIdade()"/>
    <p v-if="idade < 18"> Menor de Idade</p>
    <p v-else>Maior de idade</p>
    <hr>
    Nota <input type="text" id="inputNota" @blur="setNota()"/>
    <p v-if="nota == '' ">Digite a nota do Aluno</p>
    <p v-else-if="nota >= 7 && nota <= 10">Aluno Aprovado, parabéns!</p>
    <p v-else-if="nota >= 5 && nota < 7">Aluno em recuperação!</p>
    <p v-else-if="nota >= 0 && nota < 5">Aluno Reprovado!!</p>
    <p v-else>A nota informada é inválida!</p>
    <hr>
    <br><br>
    <p @mouseover="exibirTextoAjuda = true" @mouseout="exibirTextoAjuda = false">
        Exemplo tooltip
    </p>
    <div v-show="exibirTextoAjuda">
        <h3>Titulo texto ajuda</h3>
        <p>Conteúdo texto ajuda</p>
    </div>

</div>


<script>
   const vue = new Vue({
        el: '#app',
        data: {
            saldo: 4970.00,
            exibirSaldo: false,
            idade: 0,
            nota: 0,
            exibirTextoAjuda: false
        },
        methods: {
            setIdade() {
                this.idade = inputIdade.value
            },
            setNota() {
                this.nota = inputNota.value
            }
        },
   });
</script>

</body>
</html>